version: '3.8'
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: php:8.2-apache
    ports:
      - '10103:80'
    volumes:
      - .:/var/www/html
    environment:
      - PHP_ERROR_REPORTING=E_ALL
    networks:
      - webnet
    depends_on:
      - db
  db:
    image: mysql:8.0
    volumes:
      - db_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: 1
      MYSQL_DATABASE: api
      MYSQL_USER: api
      MYSQL_PASSWORD: 1
    networks:
      - webnet

volumes:
  db_data:

networks:
  webnet:
